
.b2{
    width: 100%;
    height: 700px;
    background-image: url("./travelpic/ba2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
color:rgba(255, 255, 255, 0.579);
padding-top: 70px;
font-size: 60px;
}

h2{
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    color:rgba(255, 255, 255, 0.932);
    padding-top: 70px;
}
.b3:hover{
    scale: 1.1;
}

h3{
    padding-bottom: 30px;
}
.navbar-brand{
    font-family: 'Bungee Spice', cursive;
    margin-top: 5px;
}
 .b5{
    background-image: url("./travelpic/ba3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
 }